*,
*::after,
*::before {
     margin: 0;
     padding: 0;
     box-sizing: inherit;
 }

 ::-webkit-scrollbar {
width: 0px; 
background: transparent;
}

html {
    // Thies defines what 1rem is
    font-size: 62.5%;
}

body {
    box-sizing: border-box;
 }